{% extends "layout.html" %}
{% block content %}
    <h2>Home Page</h2>
    <p>This is the main page for booking parking spaces in DN.</p>
    <div>
        <p>List of Parking Spaces</p>
            <table>
                <tr>
                    <th>Space number</th>
                    <th>Space booker</th>
                    <th>Owner</th>
                </tr>
                {% for space in all_spaces %}
                    <tr>
                        <td>{{ space.number }}</td>
                        <td>{{ space.booker }}</td>

                    </tr>
                {% endfor %}
            </table>
    </div>
{% endblock content %}